@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap');

@import 'normalize';
@import 'layout';
@import 'elements';
@import 'header';
@import 'hero';
@import 'who';
@import 'products';

body {
  font: 300 18px/2.2 'Oswald', sans-serif;
  background-color: #f7f8f3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 10px;
  @media screen and (min-width: 1024px) {
    margin: 0 0 30px;
  }
}

h1 {
  font-size: 25px;
  @media screen and (min-width: 1024px) {
    font-size: 55px;
  }
}

/* Layout */
.ba-container {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1210px;
}

.ba-button {
  display: inline-block;
  border: 1px solid rgba($color: #fff, $alpha: 0.4);
  padding: 0 103px 0 40px;
  height: 70px;
  line-height: 70px;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  font-size: 16px;
  color: #fff;
  @media screen and (min-width: 1024px) {
    font-size: 20px;
  }
  &:before {
    content: '';
    position: absolute;
    top: 50%;
    right: 40px;
    height: 2px;
    width: 45px;
    background-color: #fff;
  }
  &--green {
    background-color: #6e774a;
    border-color: #6e774a;
  }
}
.ba-cta {
  text-decoration: none;
  font-size: 16px;
  @media screen and (min-width: 1024px) {
    font-size: 18px;
  }
  .icon {
    width: 20px;
    height: 10px;
    margin-left: 18px;
  }
}

.line-right {
  display: block;
  width: 45px;
  height: 2px;
  color: #fff;
}

.ba-preloader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9;
  background: #131313;
}

.ba-hidden {
  display: none;
}
.ba-loading {
  overflow: hidden;
}
.ba-align {
  display: flex;
  align-items: center;
  justify-content: center;
}

// preloader
.lds-default {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-default div {
  position: absolute;
  width: 6px;
  height: 6px;
  background: #fff;
  border-radius: 50%;
  animation: lds-default 1.2s linear infinite;
}
.lds-default div:nth-child(1) {
  animation-delay: 0s;
  top: 37px;
  left: 66px;
}
.lds-default div:nth-child(2) {
  animation-delay: -0.1s;
  top: 22px;
  left: 62px;
}
.lds-default div:nth-child(3) {
  animation-delay: -0.2s;
  top: 11px;
  left: 52px;
}
.lds-default div:nth-child(4) {
  animation-delay: -0.3s;
  top: 7px;
  left: 37px;
}
.lds-default div:nth-child(5) {
  animation-delay: -0.4s;
  top: 11px;
  left: 22px;
}
.lds-default div:nth-child(6) {
  animation-delay: -0.5s;
  top: 22px;
  left: 11px;
}
.lds-default div:nth-child(7) {
  animation-delay: -0.6s;
  top: 37px;
  left: 7px;
}
.lds-default div:nth-child(8) {
  animation-delay: -0.7s;
  top: 52px;
  left: 11px;
}
.lds-default div:nth-child(9) {
  animation-delay: -0.8s;
  top: 62px;
  left: 22px;
}
.lds-default div:nth-child(10) {
  animation-delay: -0.9s;
  top: 66px;
  left: 37px;
}
.lds-default div:nth-child(11) {
  animation-delay: -1s;
  top: 62px;
  left: 52px;
}
.lds-default div:nth-child(12) {
  animation-delay: -1.1s;
  top: 52px;
  left: 62px;
}
@keyframes lds-default {
  0%,
  20%,
  80%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}
